@font-face {
    font-family: caviar;
    src: url(../fonts/CaviarDreams.ttf);
}

body{
  font-family: caviar;
  margin: 0;
}

.footer{
  height: 250px;
  position: absolute;
  bottom: 0;
  width: 100%;

}
#copy{
  position: absolute;
  bottom: 0;
  right:20px;
  z-index: 5;
}
.images{
  display: none;
  position:absolute;
   left:0px;
   bottom:0px;
   height:200px;
   width:100%;
   background:#999;
   z-index: 1;
   overflow-y: auto;
}
img{
  margin: 5px;
}

.buttons{
  position: relative;
  z-index: 3;
  width: 100%;
  background: #009ad5;
}

.footer-bg{
    position: absolute;;
    bottom: 0px;
    height: 212px;
    width: 100%;
    background: #999;
    z-index: 0;
}

.canvas-container {
    margin: 25;
}


#images img.img_dragging {
    opacity: 0.4;
}
/*
Styles below based on  http://www.html5rocks.com/en/tutorials/dnd/basics/
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

/* The button dropdowns*/
/* Dropdown Button */

.high_level_menu_item{
  color: #FFF;
  background-color: #009ad5;
}

.high_level_menu_item:hover {
  color: #cecece;
}

.hurr{
  background-color: #F00;
}
.top-bar{
  background-color: #009ad5;
}
